.sitenav {
    height: 100%;
    width: 400px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5px;
}

.sitenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #0e0505;
    display: block;
    transition: 0.3s;
}

.sitenav a:hover {
    color: #ebd50f;
}

.sitenav .closebtn {
    position: relative;
    top: 0;
    right: 25px;
    font-size: 46px;
    margin-left: 50px;
}


@media screen and (max-height: 450px) {
    .sitenav {
        padding-top: 15px;
    }

    .sitenav a {
        font-size: 18px;
    }
}

.footer-h3 {color:  #0f0f0f;font: normal 16px 'Cookie', cursive;margin: 0;}

.stars-wrapper {
	display: flex;
	flex-wrap: wrap;
	width:100%;
}

.stars {
	margin-top: 10;
	margin-bottom: 20;	
	border-radius: 20;
	align-items: center;
	flex-direction: row;
	font-size: 10px;
	color: rgb(14, 10, 5);
}

.stars-main {
	margin-top: 5;
	margin-bottom: 5;
	align-items: center;
	flex-direction: row;
	font-size: 10px;
}

.scroll-to-top {
    
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 10px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 5px;
    /* Some padding */
    border-radius: 5px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

.scroll-to-top:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}

#subscribe {
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 200px;
    /* Place the button at the bottom of the page */
    right: 1px;
    /* Place the button 30px from the right */
    z-index: 29;
    
}

.rotate {
    -webkit-transform:rotate(90deg);  
    -moz-transform: rotate(90deg);  
    -ms-transform: rotate(90deg);  
    -o-transform: rotate(90deg);  
    transform: rotate(90deg);  

}


